name: Veracode Build
on:
  workflow_call:
    inputs:
      artifact_name:
        required: false
        type: string
      artifact_path:
        required: false
        type: string
  workflow_dispatch:

env:
  ARTIFACT_NAME: ${{ inputs.artifact_name || 'veracode-artifact' }}
  ARTIFACT_PATH: ${{ inputs.artifact_path || 'veracode_artifact_directory' }}

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v1.1.3

      - name: MSBuild - Precompile - Visual Studio Solution
        shell: cmd
        run: | 
          msbuild CarrotwareCMS.sln /t:Rebuild ^
          /p:OutputPath=bin\app.publish /p:DeployOnBuild=true /p:WebPublishMethod=FileSystem ^
          /p:PrecompileBeforePublish=true /p:EnableUpdateable=false /p:DebugSymbols=true ^
          /p:UseMerge=false /p:DeleteAppCodeCompiledFiles=True /p:DeleteExistingFiles=True ^
          /p:WDPMergeOption=CreateSeparateAssembly /p:UseFixedNames=true

      - run: |
          (Get-ChildItem -Path ${{ github.workspace }} -Recurse -Include "*.zip" | 
          Where-Object -Property FullName -Like '*\app.publish\*') |
          % {Copy-Item -Path $_.FullName -Destination "${{ github.workspace }}\${{ env.ARTIFACT_PATH }}" -Force}
        shell: powershell

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_PATH }}
          if-no-files-found: error