name: Veracode Static Analysis - Get Policy Flaws And Import SARIF

on:
  workflow_dispatch:

jobs:
  fetch_policy_flaws_task:
    if: always()
    uses: wsandersvco/actions/.github/workflows/veracode-fetch-and-import-sarif-policy-flaws.yml@main
    secrets: inherit
    with:
      application_name: GitHub Actions - CarrotCakeCMS
